*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: "Poppins", sana-serif;
    line-height: 1.6;
}

header{
    position: relative;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header::before{
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.4);
     z-index: 1;
}

.nav-container{
    position: relative;
    z-index: 2;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7) ;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 15px;
    transition: all 0.3s ease;
    position: relative;
}

nav a:hover{
    color: #a0d8ff;
    background: rgba(244, 241, 241, 0.1);
    border-radius: 5px;
}

nav a:hover::after{
    content: '';
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 0;
    height: 2px;
    background: #fff;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

nav a:hover::after{
    width: 80%;
}

.hero-text{
    position: relative;
    z-index: 3;
    text-align: center;
    padding: 0 20px;
    bottom: 100px;
}

.hero-text h1{
    font-size: 4rem;
    margin-bottom: 20px;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.8);
}

.hero-text p{
    font-size: 1.5rem;
    max-width: 800px;
    margin: 0 auto;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}

@media (max-width: 768px){
    .nav-container{
        flex-direction: column;
        gap: 20px;
    }

    nav ul{
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    .hero-text h1{
        font-size: 2.5rem;
    }
}